* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #0568CD, #6C03C8);
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    background-color: silver;
}

button:hover {
    background-color: rgba(255,255,255,.9);
}

h1 {
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

.animation {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}

.music-notes {
    margin: 10% auto;
}